<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SubscriptionType</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"
        ></script>
        <style>

            .container {
                width: 1200px;
            }

            .box {
                position: relative;
                border: 1px solid black;
                overflow: auto;
                width: 1100px;
                height: 450px;
            }
            @font-face {
            font-family: 'RixYeoljeongdo_Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }
            @font-face {
            font-family: 'ELAND_Nice_M';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }
            .ft{
               font-family:'ELAND_Nice_M';
               font-size: 40px;
            }
        </style>
    </head>
    <body>
        <section>
            <div class="container">
                <form action="" method="post">
                <img src="../../../resources/images/lgo.png" >
                <div class="row text-center">
                    <div class="col-sm-3" style="display: flex; align-items: center;
                    justify-content: center;
                    flex-direction: column;">
                        <img src="../../../resources/images/one.png" >
                        <div
                            class="card border-info mb-3"
                            style="max-width: 8rem"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family: 'RixYeoljeongdo_Regular';
                                    font-size: 20px;">약관동의</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="display: flex; align-items: center;
                    justify-content: center;
                    flex-direction: column;">
                        <img src="../../../resources/images/two.png" >
                        <div
                            class="card border-info mb-3"
                            style="max-width: 8rem"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family: 'RixYeoljeongdo_Regular';
                                    font-size: 20px;">가입유형</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="display: flex; align-items: center;
                    justify-content: center;
                    flex-direction: column;">
                        <img src="../../../resources/images/three.png" >
                        <div
                            class="card border-dark mb-3"
                            style="max-width: 8rem"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family: 'RixYeoljeongdo_Regular';
                                    font-size: 20px;">정보입력</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="display: flex; align-items: center;
                    justify-content: center;
                    flex-direction: column;">
                        <img src="../../../resources/images/for.png" >
                        <div
                            class="card border-dark mb-3"
                            style="max-width: 8rem"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family: 'RixYeoljeongdo_Regular';
                                    font-size: 20px;">가입완료</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <br />
                <h1 class="ft">가입유형 선택</h1>
                <br /> 
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-4">
                      <div class="card"OnClick="location.href ='https://www.naver.com/'"> <!-- 1번 클릭시 넘어가는 페이지 온클릭 으로 적용 ex)네이버  -->
                            <img src="../../../resources/images/nb1.png" style="width: 50px;" alt="">
                          <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; ">
                            <img src="../../../resources/images/five.png"  alt="...">
                          </div>
                        <div class="card-body">
                          <h5 class="card-title" style="display: flex; align-items: center; justify-content: center; flex-direction: column; font-family: 'RixYeoljeongdo_Regular';
                          font-size: 20px;">데려다줄개 회원가입</h5><br>
                          <p class="card-text"> 회원으로 가입하시면 데려다줄개 회원으로 가입됩니다. <br> 회원자격을 유지하는 동안 개인정보는 별도의 개인정보처리시스템에 저장됩니다.</p>
                            <br>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card"OnClick="location.href ='https://www.naver.com/'"> <!-- 2번 클릭시 넘어가는 페이지 온클릭 으로 적용 ex)네이버  -->
                        <img src="../../../resources/images/nb2.png" style="width: 50px;" alt="">
                        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; ">
                            <img src="../../../resources/images/six.png"  alt="...">
                          </div>
                        <div class="card-body">
                          <h5 class="card-title" style="display: flex; align-items: center; justify-content: center; flex-direction: column; font-family: 'RixYeoljeongdo_Regular';
                          font-size: 20px;">드라이버 지원</h5><br>
                          <p class="card-text">회원가입 후 데려다줄개 드라이버 지원을 하실수 있습니다. <br>회원자격을 유지하는 동안 개인정보는 별도의 개인정보처리시스템에 저장됩니다.</p>
                          <br>  
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card"OnClick="location.href ='https://www.naver.com/'"> <!-- 3번 클릭시 넘어가는 페이지 온클릭 으로 적용 ex)네이버  -->
                        <img src="../../../resources/images/nb3.png" style="width: 50px;" alt="">
                        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; ">
                            <img src="../../../resources/images/seven.png"  alt="...">
                          </div>
                        <div class="card-body">
                          <h5 class="card-title" style="display: flex; align-items: center; justify-content: center; flex-direction: column; font-family: 'RixYeoljeongdo_Regular';
                          font-size: 20px;">제휴업체</h5><br>
                          <p class="card-text">회원가입 후 데려다줄개 제휴업체 파트너가 되어주세요.<br>파트너 유지하는 동안 개인정보는 별도의 개인정보처리시스템에 저장됩니다.</p>
                          <br>  
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

            </div>
        </section>
    </body>
</html>   