<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.petcab.work.payment.model.dao.PaymentDao">
	
	<!-- 중복되는 쿼리문 작성 -->
	<sql id="selectPaymentSql">
		SELECT MERCHANT_UID,
			   IMP_UID,			   
			   NAME,
			   BUYER_NAME			   
			   PAID_AMOUNT,
			   APPLY_NUM,
			   STATUS,
			   PAY_METHOD,
			   PG_PROVIDER,
			   PG_TID,
			   PAID_AT,
			   RECEIPT_URL,
			   USER_NO 			
		FROM PAYMENT
	</sql>
	
	<resultMap type="Payment" id="PaymentResultMap">
	
		<id property="merchatUid" column="MERCHANT_UID"/>
		
		<result property="impUid" column="IMP_UID" />
		<result property="name" column="NAME" />
		<result property="buyerName" column="BUYER_NAME" />
		<result property="paidAmount" column="PAID_AMOUNT" />
		<result property="applyNum" column="APPLY_NUM" />
		<result property="status" column="STATUS" />
		<result property="payMethod" column="PAY_METHOD" />
		<result property="pgProvider" column="PG_PROVIDER" />
		<result property="pgTid" column="PG_TID" />
		<result property="paidAt" column="PAID_AT" />
		<result property="receipUrl" column="RECEIPT_URL" />
		<result property="userNo" column="USER_NO" />
	</resultMap>

	<select id="selectPaymentCount" resultType="_int">
		SELECT COUNT(*) FROM PAYMENT
	</select>
	
	<select id="selectPaymentById" parameterType="string" resultMap="PaymentResultMap">
		<include refid="selectPaymentSql"></include>
		WHERE USER_ID = #{id}
	</select>
	
	<select id="selectTodayPaymentAmount" resultType="_int">
		SELECT NVL((SUM(PAID_AMOUNT)),0)
		FROM PAYMENT
		WHERE TO_CHAR(PAYMENT_DATE, 'yyyymmdd') = TO_CHAR(SYSDATE, 'yyyymmdd') 
		AND STATUS = 'Y'
	</select>
	
	<insert id="insertPayInfo" parameterType="map"
  		useGeneratedKeys="true" keyProperty="merchantUid" keyColumn="MERCHANT_UID">
  		
  		INSERT INTO PAYMENT 
  		VALUES(  			
  			#{merchantUid},
  			#{impUid},
  			#{name},
  			#{buyerName},
  			#{paidAmount},
  			#{applyNum},
  			#{status},
  			#{payMethod},
  			#{pgProvider},			
  			#{pgTid},  			
  			#{paidAt},
  			#{receiptUrl},				
  			#{userNo},
  			SYSDATE
 		)
  	</insert>
	
</mapper>
