<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="member">
	
	<!-- 중복되는 쿼리문 작성 -->
	<sql id="selectUserSql">
		SELECT USER_NO,
			   USER_NAME,
			   USER_ID,
			   USER_PWD,
			   POSTCODE,
			   ADDRESS,
			   PHONE,
			   STATUS,
			   USER_TYPE,
			   ENROLL_DATE,
			   MODIFY_DATE
		FROM MEMBER
		WHERE STATUS = 'Y'
	</sql>
	
	<resultMap type="Member" id="memberResultMap">
	
		<id property="userNo" column="USER_NO"/>
		
		<result property="userName" column="USER_NAME"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="postCode" column="POSTCODE"/>
		<result property="address" column="ADDRESS"/>
		<result property="phone" column="PHONE"/>
		<result property="status" column="STATUS"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>

	<select id="selectCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="selectMemberAll" resultMap="memberResultMap">
		<include refid="selectMemberSql"></include>
	</select>
	
	<select id="selectMember" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql"></include>
		AND USER_ID = #{userId}
	</select>
	
	<insert id="insertMember" parameterType="Member"
		useGeneratedKeys="true" keyProperty="userNo" keyColumn="USER_NO">
		 INSERT INTO MEMBER (
		 	 USER_NO,
		 	 USER_NAME,
		 	 USER_ID,
			 USER_PWD,
			 POSTCODE,
			 ADDRESS,
			 PHONE,
			 STATUS,
			 USER_TYPE,
			 ENROLL_DATE,
			 MODIFY_DATE
		 )
		 VALUES(
		     SEQ_USER_NO.NEXTVAL,
		     #{userName},
		     #{userId},
		     #{userPwd},
		     #{postCode},
		     #{address},
		     #{phone},
		     DEFAULT,
		     #{userType},
		     DEFAULT,
		     DEFAULT		     
		 )
	</insert>
</mapper>
