<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.petcab.work.user.model.dao.PartnerDao">
	
	<sql id="selectPartnerSql">
		SELECT USER_NO,
			   PARTNER_NAME,
    		   PARTNER_TYPE,
    		   LOCATION,
			   PHONE,
			   OPEN_TIME,
			   IMAGE_ORI,
			   IMAGE_RE,
			   ABOUT,
			   STATUS
		FROM PARTNER
	</sql>
	
	<resultMap type="Partner" id="partnerResultMap">
		<id property="userNo" column="USER_NO"/>
		
		<result property="partnerName" column="PARTNER_NAME"/>
		<result property="partnerType" column="PARTNER_TYPE"/>
		<result property="location" column="LOCATION"/>
		<result property="phone" column="PHONE"/>
		<result property="openTime" column="OPEN_TIME"/>
		<result property="imageOri" column="IMAGE_ORI"/>
		<result property="imageRe" column="IMAGE_RE"/>
		<result property="about" column="ABOUT"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<insert id="insertPartner" parameterType="Partner"
		useGeneratedKeys="true" keyProperty="userNo" keyColumn="USER_NO">
		INSERT INTO PARTNER (
		    USER_NO,
		    PARTNER_NAME,
		    PARTNER_TYPE,
		    LOCATION,
		    PHONE,
		    OPEN_TIME,
		    IMAGE_ORI,
		    IMAGE_RE,
		    ABOUT,
		    STATUS
		) VALUES (
		    #{userNo},
		    #{partnerName},
		    #{partnerType},
		    #{location},
		    #{phone},
		    #{openTime},
		    #{imageOri},
		    #{imageRe},
		    #{about},
		    DEFAULT
		)
	</insert>


</mapper>