<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.petcab.work.call.model.dao.CallDao">

	<resultMap type="Call" id="callResultMap">
		<id property="callNo" column="CALL_NO" />
		<result property="pickupTime" column="TIME" />
		<result property="fromWhere" column="FROM_WHERE" />
		<result property="toWhere" column="TO_WHERE" />
		<result property="withOwner" column="WITH_OWNER" />
		<result property="toDriver" column="TO_DRIVER" />
		<result property="status" column="STATUS" />
		<result property="callType" column="CALL_TYPE" />
		<result property="userNo" column="USER_NO" />
		<result property="animalNoA" column="ANIMAL_NO_A" />
		<result property="animalNoB" column="ANIMAL_NO_B" />
		<result property="animalNoC" column="ANIMAL_NO_C" />
		<result property="merchantUid" column="MERCHANT_UID" />
	</resultMap>
	
	<select id="selectCall" parameterType="_int" resultMap="callResultMap">
		SELECT CALL_NO,
		    TIME,
		    FROM_WHERE,
		    TO_WHERE,
		    WITH_OWNER,
		    TO_DRIVER,
		    STATUS,
		    CALL_TYPE,
		    USER_NO,
		    ANIMAL_NO_A,
		    ANIMAL_NO_B,
		    ANIMAL_NO_C,
		    MERCHANT_UID
		FROM GEN_CALL
		WHERE CALL_NO = #{callNo}
	</select>
	
	<!-- 예약신청 -->
	<insert id="insertCall" parameterType="map"
			useGeneratedKeys="true" keyProperty="callNo" keyColumn="CALL_NO">
		<!-- 
		<selectKey keyProperty="callNo" resultType="int" order="BEFORE">
			SELECT SEQ_CALL_NO.NEXTVAL FROM DUAL
		</selectKey>
		-->
			INSERT INTO GEN_CALL (
				CALL_NO, TIME, TO_WHERE, FROM_WHERE, 
				WITH_OWNER, TO_DRIVER, STATUS, CALL_TYPE, USER_NO, 
				ANIMAL_NO_A, ANIMAL_NO_B, ANIMAL_NO_C, 
				MERCHANT_UID
			) VALUES (
				SEQ_CALL_NO.NEXTVAL, TO_DATE(#{pickupTime}, 'YYYY-MM-DD"T"HH24:MI'), #{toWhere}, #{fromWhere},
				#{withOwner}, #{toDriver}, #{status}, #{callType}, NULL,
				#{animalNoA}, #{animalNoB}, #{animalNoC}, #{merchantUid}
			)
	</insert>
		
	<!-- 예약취소 -->
	<update id="updateCall" parameterType="Call">
		UPDATE CALL SET STATUS=#{status}
		WHERE CALL_NO=#{callNo}
	</update>
	
</mapper>	
