<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.petcab.work.call.model.dao.CallDao">

	<resultMap type="Call" id="callResultMap">
		<id property="callNo" column="CALL_NO" />
		<result property="pickupTime" column="TIME" />
		<result property="fromWhere" column="FROM_WHERE" />
		<result property="toWhere" column="TO_WHERE" />
		<result property="withOwner" column="WITH_OWNER" />
		<result property="toDriver" column="TO_DRIVER" />
		<result property="status" column="STATUS" />
		<result property="callType" column="CALL_TYPE" />
		<!-- <result property="userNo" column="USER_NO" /> -->
		<result property="dogNoA" column="DOG_NO_A" />
		<result property="dogNoB" column="DOG_NO_B" />
		<result property="dogNoC" column="DOG_NO_C" />
		<result property="merchantUid" column="MERCHANT_UID" />
		<association property="emgCall" resultMap="EmgCallResultMap" />
		<association property="driver" resultMap="DriverResultMap" />
	</resultMap>

	<resultMap type="emgCall" id="EmgCallResultMap">
		<id property="callNo" column="CALL_NO" />
		<result property="toPartner" column="TO_PARTNER" />
		<result property="toReject" column="TO_REJECT" />
		<association property="partner"
			resultMap="PartnerResultMap" />
	</resultMap>

	<resultMap type="partner" id="PartnerResultMap">
		<result property="partnerName" column="PARTNER_NAME" />
	</resultMap>

	<resultMap type="driver" id="DriverResultMap">
		<id property="userNo" column="USER_NO" />
		<result property="carNo" column="CAR_NO" />
		<result property="carType" column="CAR_TYPE" />
	</resultMap>

	<select id="selectCall" parameterType="_int"
		resultMap="callResultMap">
		SELECT CALL_NO,
		TIME,
		FROM_WHERE,
		TO_WHERE,
		WITH_OWNER,
		TO_DRIVER,
		STATUS,
		CALL_TYPE,
		USER_NO,
		DOG_NO_A,
		DOG_NO_B,
		DOG_NO_C,
		MERCHANT_UID
		FROM GEN_CALL
		WHERE CALL_NO = #{callNo}
	</select>

	<!-- 예약신청 -->
	<insert id="insertCall" parameterType="map"
		useGeneratedKeys="true" keyProperty="callNo" keyColumn="CALL_NO">
		INSERT INTO
		GEN_CALL (
		CALL_NO, TIME, TO_WHERE, FROM_WHERE,
		WITH_OWNER,
		TO_DRIVER,
		STATUS, CALL_TYPE, USER_NO,
		DOG_NO_A, DOG_NO_B,
		DOG_NO_C,
		MERCHANT_UID
		) VALUES (
		SEQ_CALL_NO.NEXTVAL,
		TO_DATE(#{pickupTime},
		'YYYY-MM-DD"T"HH24:MI'), #{toWhere},
		#{fromWhere},
		#{withOwner},
		#{toDriver}, #{status}, #{callType}, NULL,
		#{dogNoA}, #{dogNoB},
		#{dogNoC}, #{merchantUid}
		)
	</insert>

	<!-- 예약취소 -->
	<update id="updateCall" parameterType="Call">
		UPDATE GEN_CALL
		SET
		STATUS='취소'
		WHERE CALL_NO=#{callNo}
	</update>

	<!-- 긴급콜 신청 -->
	<!-- 
	<insert id="insertEmgCall" parameterType="map"
		useGeneratedKeys="true" keyProperty="callNo" keyColumn="CALL_NO">
	-->
	<insert id="insertEmgCall" parameterType="EmgCall">
		<selectKey resultType="_int" keyProperty="callNo" order="BEFORE">
			SELECT SEQ_CALL_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT ALL
		INTO GEN_CALL (
			CALL_NO, TIME, TO_WHERE, FROM_WHERE, WITH_OWNER,
			TO_DRIVER, STATUS, CALL_TYPE, USER_NO,
			DOG_NO_A, DOG_NO_B, DOG_NO_C, MERCHANT_UID
		) VALUES (
			#{callNo}, TO_DATE(#{pickupTime}, 'YYYY-MM-DD"T"HH24:MI'),
			#{toWhere}, #{fromWhere}, #{withOwner},
			#{toDriver}, #{status}, #{callType}, NULL,
			#{dogNoA}, #{dogNoB}, #{dogNoC}, #{merchantUid}
		)
		<!-- 
		<selectKey resultType="_int" keyProperty="callNo" order="AFTER">
			SELECT MAX(SEQ_CALL_NO) FROM DUAL
		</selectKey>
		-->
		INTO EMERG_CALL (
			CALL_NO, TO_PARTNER, TO_REJECT, USER_NO
		) VALUES (
			#{callNo}, #{toPartner}, NULL, 3
		)
		SELECT * FROM DUAL
		<!-- 
		SELECT *
		FROM GEN_CALL G
		JOIN EMERG_CALL E ON (G.CALL_NO=E.CALL_NO)
		JOIN PARTNER P ON (E.USER_NO=P.USER_NO)
		WHERE P.USER_NO = 3
		-->
	</insert>

	<!-- 원석작업 -->
	<select id="driverWaitCallList" resultMap="callResultMap">
		SELECT
		C.CALL_NO,
		C.TIME,
		C.FROM_WHERE,
		C.TO_WHERE,
		C.WITH_OWNER,
		C.TO_DRIVER,
		C.STATUS,
		C.CALL_TYPE,
		D.USER_NO,
		D.CAR_NO,
		D.CAR_TYPE,
		C.DOG_NO_A,
		C.DOG_NO_B,
		C.DOG_NO_C,
		C.MERCHANT_UID
		FROM GEN_CALL C, DRIVER D
		WHERE C.USER_NO = D.USER_NO
		AND C.STATUS = '신청'
	</select>

	<select id="driverEndCallList" parameterType="_int"
		resultMap="callResultMap">
		SELECT
		C.CALL_NO,
		C.TIME,
		C.FROM_WHERE,
		C.TO_WHERE,
		C.WITH_OWNER,
		C.TO_DRIVER,
		C.STATUS,
		C.CALL_TYPE,
		D.USER_NO,
		D.CAR_NO,
		D.CAR_TYPE,
		C.DOG_NO_A,
		C.DOG_NO_B,
		C.DOG_NO_C,
		C.MERCHANT_UID
		FROM GEN_CALL C, DRIVER D
		WHERE C.USER_NO = D.USER_NO
		AND C.STATUS = '종료'
		AND C.USER_NO = #{userNo}
	</select>

	<!-- 이슬 작업 -->
	<select id="selectAllCall" resultType="_int">
		SELECT COUNT(*) FROM GEN_CALL
	</select>
	
	<select id="selectGenCall" resultType="_int">
		SELECT COUNT(*) 
		FROM GEN_CALL
		WHERE CALL_TYPE = 1
	</select>

	<select id="selectEmergCall" resultType="_int">
		SELECT COUNT(*) 
		FROM GEN_CALL
		WHERE CALL_TYPE = 2
	</select>
	
	<select id="selectCancelledCall" resultType="_int">
		SELECT COUNT(*) 
		FROM GEN_CALL
		WHERE STATUS = 'N'
	</select>
	
	<select id="useCallUserId" parameterType="string"
		resultMap="callResultMap">
		SELECT 
		    C.CALL_NO,
		    C.TIME,
		    C.FROM_WHERE,
		    C.TO_WHERE,
		    C.STATUS,
		    C.CALL_TYPE,
		    D.CAR_TYPE,
		    C.DOG_NO_A,
		    C.DOG_NO_B,
		    C.DOG_NO_C,
		    D.CAR_NO
		FROM GEN_CALL C,
		     DRIVER D,
		     DOG D2,
		     MEMBER U
		WHERE C.USER_NO = D.USER_NO
		    AND D2.DOG_NO = C.DOG_NO_A
		    AND U.USER_ID = D2.USER_ID
		    AND C.STATUS='확정'
		    AND D2.USER_ID = #{userId}
	</select>
	
	<select id="endCallUserId" parameterType="string"
		resultMap="callResultMap">
		SELECT 
		    C.CALL_NO,
		    C.TIME,
		    C.FROM_WHERE,
		    C.TO_WHERE,
		    C.STATUS,
		    C.CALL_TYPE,
		    C.DOG_NO_A,
		    C.DOG_NO_B,
		    C.DOG_NO_C,
		    D.CAR_TYPE,
		    D.CAR_NO
		FROM GEN_CALL C,
		     DRIVER D,
		     DOG D2,
		     MEMBER U
		WHERE C.USER_NO = D.USER_NO
		    AND D2.DOG_NO = C.DOG_NO_A
		    AND U.USER_ID = D2.USER_ID
		    AND C.STATUS='종료'
		    AND D2.USER_ID = #{userId}
	</select>
	
	<select id="waitECallList" parameterType="_int" resultMap="callResultMap">
		SELECT
		    C.CALL_NO,
		    C.TIME,
		    C.FROM_WHERE,
		    C.TO_WHERE,
		    C.WITH_OWNER,
		    C.STATUS,
		    C.CALL_TYPE,
		    E.USER_NO,
		    E.TO_PARTNER,
		    E.TO_REJECT,           
		    M.USER_NAME,
		    D.DOG_NAME
		FROM GEN_CALL C, EMERG_CALL E, MEMBER M, DOG D
		WHERE C.CALL_NO=E.CALL_NO
		AND C.DOG_NO_A = D.DOG_NO
		AND M.USER_ID = D.USER_ID
		AND C.STATUS='업체'
		AND E.USER_NO = #{userNo}
	</select>
	
	<select id="eCallList" parameterType="_int" resultMap="callResultMap">
		SELECT
		    C.CALL_NO,
		    C.TIME,
		    C.FROM_WHERE,
		    C.TO_WHERE,
		    C.WITH_OWNER,
		    C.STATUS,
		    C.CALL_TYPE,
		    E.USER_NO,
		    E.TO_PARTNER,
		    E.TO_REJECT,           
		    M.USER_NAME,
		    D.DOG_NAME
		FROM GEN_CALL C, EMERG_CALL E, MEMBER M, DOG D
		WHERE C.CALL_NO=E.CALL_NO
		AND C.DOG_NO_A = D.DOG_NO
		AND M.USER_ID = D.USER_ID
		AND E.USER_NO = #{userNo}
	</select>
	
	
</mapper>	
