<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.petcab.work.review.model.dao.ReviewDao">
	<sql id="ReviewListSql">
		SELECT  R.REVIEW_NO,
				R.TITLE,
				M.USER_ID,
				R.STAR_NO,
				R.POST_DATE,
				R.CONTENT,
				R.STATUS,
				R.VIEW_NO
			FROM REVIEW R
			JOIN MEMBER M ON (R.USER_NO = M.USER_NO)
	</sql>
	
	<resultMap type="Review" id="reviewResultMap">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="callNo" column="CALL_NO"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="postDate" column="POST_DATE"/>	
		<result property="editDate" column="EDIT_DATE"/>	
		<result property="viewNo" column="VIEW_NO"/>
		<result property="callType" column="CALL_TYPE"/>
		<result property="starNo" column="STAR_NO"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="groupSeq" column="GROUP_SEQ"/>
		<result property="depth" column="DEPTH"/>
		<result property="status" column="STATUS"/>
		<result property="sUserNo" column="S_USER_NO"/>
	</resultMap>
	
	<resultMap type="Review" id="reviewDetailResultMap">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="userId" column="M_USER_ID"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="viewNo" column="VIEW_NO"/>
		<result property="postDate" column="POST_DATE"/>
		<result property="editDate" column="EDIT_DATE"/>
	 	<collection property="replies" javaType="java.util.ArrayList" resultMap="reviewReplyResultMap"/>	
	</resultMap>
	<!-- 
	<resultMap type="QuesReply" id="quesReplyResultMap">
		<id property="quesNo" column="QUES_NO"/>
		<result property="content" column="CONTENT"/>
		<result property="postDate" column="POST_DATE"/>
		<result property="editDate" column="EDIT_DATE"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>
	 -->
  	<select id="selectCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
	</select>
	
	<select id="selectReviewList" parameterType="map" resultMap="reviewResultMap">
		<include refid="ReviewListSql"></include>
		ORDER BY R.REVIEW_NO DESC
	</select>
	 
	 <select id="selectReviewDetail" parameterType="_int" resultMap="reviewResultMap">
	      <include refid="ReviewListSql"></include>
	      WHERE REVIEW_NO=#{reviewNo}
   	 </select>
	 
  	<insert id="insertReview" parameterType="map"
  		useGeneratedKeys="false" keyProperty="ReviewNo" keyColumn="REVIEW_NO">
  		INSERT INTO REVIEW(
			REVIEW_NO,
			CALL_TYPE,
			GROUP_NO,
			GROUP_SEQ,
			"DEPTH",
			TITLE,
			"CONTENT",
			STAR_NO,
			POST_DATE,
			EDIT_DATE,
			VIEW_NO,
			STATUS,
			USER_NO,
			CALL_NO)
  		VALUES(
  			SEQ_REVIEW_NO.NEXTVAL,
  			#{callType},
  			DEFAULT,
  			DEFAULT,
  			DEFAULT,
  			#{title},
  			#{content},
  			#{starNo},
  			DEFAULT,
  			DEFAULT,
  			DEFAULT,
  			DEFAULT,
  			#{userNo},
  			#{callNo}
 			)
  	</insert>
  	
  	<update id="updateReview" parameterType="Review">
  		UPDATE REIVEW
  		SET
  			STAR_NO=#{starNo},
  			TITLE=#{title},
  			CONTENT=#{content},
  			EDIT_DATE=SYSDATE
  		WHERE
  			REIVEW_NO=#{reviewNo}
  	</update>
  	
  	<select id="searchUserNo" parameterType="_int" resultMap="reviewResultMap">
		SELECT  R.REVIEW_NO,
				R.TITLE,
				M.USER_ID,
				R.STAR_NO,
				R.POST_DATE,
				R.CONTENT,
				R.STATUS,
				R.VIEW_NO,
				R.USER_NO,
				R.S_USER_NO
			FROM REVIEW R
			JOIN MEMBER M ON (R.USER_NO = M.USER_NO)
		WHERE M.USER_NO = #{userNo}
	</select>
	<select id="searchSUserNo" parameterType="_int" resultMap="reviewResultMap">
		SELECT  R.REVIEW_NO,
				R.TITLE,
				M.USER_ID,
				R.STAR_NO,
				R.POST_DATE,
				R.CONTENT,
				R.STATUS,
				R.VIEW_NO,
				R.USER_NO,
				R.S_USER_NO
			FROM REVIEW R
			JOIN MEMBER M ON (R.USER_NO = M.USER_NO)
		WHERE R.S_USER_NO = #{userNo}
	</select>

</mapper>
